@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1300;1400;1500;1600;1700;1800;1900 & mostrar=intercambiar");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.eri, .lopez {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}

h3, h4, p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: 'Poppins', sans-serif;
  color: white;
}

headings {
  font-size: 4.4rem;
}

headings {
  font-size: 2.6rem;
}

headings {
  font-size: 1.25rem;
}

headings {
  font-size: 1rem;
}

headings {
  font-size: 1rem;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-style: bold;
  font-size: 4.4rem;
  letter-spacing: 1,5px;
  color: #528B85;
  text-align: center;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-size: 2.6rem;
  letter-spacing: 1,5px;
  color: #528B85;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  color: white;
}

.eri, .lopez {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}

h3, h4, p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

/* SECCION MENÙ NAVEGACION*/
.menu_o a {
  color: #272727;
  text-decoration: none;
  list-style: none;
}

.menu_o a:hover {
  background: #F67D83;
  color: #272727;
  padding: 5px 20px;
  border-radius: 18px;
  transition: ease-in .2s;
}

/* SECCION PORTADA - HOME*/
.hero__text li::before {
  content: '';
  text-align: justify-all;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../assets/img/Frame121.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: .5em;
  margin-top: .7em;
}

/* SECCION SOBRE MI */
.sobre__name {
  justify-content: left;
  padding: 30px;
  justify-content: space-between;
}

.sobre__name p {
  width: 90%;
  margin-top: 30px;
}

.eri {
  font-size: 35px;
  letter-spacing: 0,2px;
  color: #F45F67;
}

.lopez {
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: .7px;
  -webkit-text-stroke-color: #F45F67;
  letter-spacing: 1,5px;
}

/* HABILIDADES*/
.habi h3 {
  color: #F5CE46;
}

/* SECCION SERVICIO */
.container_grid_serv h3 {
  color: #F5CE46;
}

/* SECCION SERVICIO: Metodo de trabajo */
#container_met img {
  width: 3rem;
}

/*FOOTER*/
footer {
  opacity: 0.9;
}
