@import "fuentes";

@import "main";

@import "mixin";

@import "extend";


/* SECCION MENÙ NAVEGACION*/

.menu1{
	position: fixed;
	z-index: 100;
}


.menu_o {
	@include diseño;
}



/* SECCION PORTADA - HOME*/



.hero__text li::before {
	content:'' ;
	text-align: justify-all;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("../assets/img/Frame121.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: .5em;
	margin-top: .7em;
}


/* SECCION SOBRE MI */



.sobre__name{
	justify-content: left;
	padding: 30px;
	justify-content: space-between;
	p{
		width: 90%;
		margin-top: 30px;
	
	}
}


.eri {
	@extend %letra;
	font-size: 35px;
	letter-spacing: 0,2px;
	color: #F45F67;
}
.lopez {
	@extend %letra;
	font-size: 35px;
	color: transparent;
	 -webkit-text-stroke: .7px;
	 -webkit-text-stroke-color: #F45F67;
	letter-spacing: 1,5px;
}

/* HABILIDADES*/

.habi h3{
	color: #F5CE46;
}
	

/* SECCION SERVICIO */

.container_grid_serv h3{
	color: #F5CE46;
}

/* SECCION SERVICIO: Metodo de trabajo */
 #container_met img{
 	width: 3rem;
 }

/*FOOTER*/

footer{
	opacity: 0.9;
}